In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

In [4]:
dataset = pd.read_csv("data_cleaned.csv")

In [5]:
dataset

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Identifier,Item_Outlet_Sales,Item_Visibility_MeanRatio,Outlet_Years,Outlet,Item_Fat_Content_Low Fat,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Category_Drink,Item_Category_Food,Item_Category_Non-consumable
0,FDA15,9.30,0.016047,249.8092,OUT049,3735.1380,0.931078,14,9,1,...,0,1,0,0,1,0,0,0,1,0
1,DRC01,5.92,0.019278,48.2692,OUT018,443.4228,0.933420,4,3,0,...,0,1,0,0,0,1,0,1,0,0
2,FDN15,17.50,0.016760,141.6180,OUT049,2097.2700,0.960069,14,9,1,...,0,1,0,0,1,0,0,0,1,0
3,FDX07,19.20,0.017834,182.0950,OUT010,732.3800,1.000000,15,0,0,...,0,0,1,1,0,0,0,0,1,0
4,NCD19,8.93,0.009780,53.8614,OUT013,994.7052,1.000000,26,1,0,...,1,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14199,FDB58,10.50,0.013496,141.3154,OUT046,0.0000,0.874729,16,8,0,...,0,0,1,0,1,0,0,0,1,0
14200,FDD47,7.60,0.142991,169.1448,OUT018,0.0000,0.878292,4,3,0,...,0,1,0,0,0,1,0,0,1,0
14201,NCO17,10.00,0.073529,118.7440,OUT045,0.0000,1.162245,11,7,0,...,0,0,1,0,1,0,0,0,0,1
14202,FDJ26,15.30,0.088380,214.6218,OUT017,0.0000,1.000000,6,2,0,...,0,0,1,0,1,0,0,0,1,0
14203,FDU37,9.50,0.104720,79.7960,OUT045,0.0000,1.029678,11,7,0,...,0,0,1,0,1,0,0,0,1,0

# Splitting dataset into input and output data set

In [6]:
dataset.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Visibility', 'Item_MRP',
       'Outlet_Identifier', 'Item_Outlet_Sales', 'Item_Visibility_MeanRatio',
       'Outlet_Years', 'Outlet', 'Item_Fat_Content_Low Fat',
       'Item_Fat_Content_Non-Edible', 'Item_Fat_Content_Regular',
       'Outlet_Location_Type_Tier 1', 'Outlet_Location_Type_Tier 2',
       'Outlet_Location_Type_Tier 3', 'Outlet_Size_High', 'Outlet_Size_Medium',
       'Outlet_Size_Small', 'Outlet_Type_Grocery Store',
       'Outlet_Type_Supermarket Type1', 'Outlet_Type_Supermarket Type2',
       'Outlet_Type_Supermarket Type3', 'Item_Category_Drink',
       'Item_Category_Food', 'Item_Category_Non-consumable'],
      dtype='object')

## Dropping ID columns

In [11]:
x = dataset.drop(columns=['Item_Identifier','Outlet_Identifier','Item_Outlet_Sales'])

In [13]:
x

,Item_Weight,Item_Visibility,Item_MRP,Item_Visibility_MeanRatio,Outlet_Years,Outlet,Item_Fat_Content_Low Fat,Item_Fat_Content_Non-Edible,Item_Fat_Content_Regular,Outlet_Location_Type_Tier 1,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Category_Drink,Item_Category_Food,Item_Category_Non-consumable
0,9.30,0.016047,249.8092,0.931078,14,9,1,0,0,1,...,0,1,0,0,1,0,0,0,1,0
1,5.92,0.019278,48.2692,0.933420,4,3,0,0,1,0,...,0,1,0,0,0,1,0,1,0,0
2,17.50,0.016760,141.6180,0.960069,14,9,1,0,0,1,...,0,1,0,0,1,0,0,0,1,0
3,19.20,0.017834,182.0950,1.000000,15,0,0,0,1,0,...,0,0,1,1,0,0,0,0,1,0
4,8.93,0.009780,53.8614,1.000000,26,1,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14199,10.50,0.013496,141.3154,0.874729,16,8,0,0,1,1,...,0,0,1,0,1,0,0,0,1,0
14200,7.60,0.142991,169.1448,0.878292,4,3,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
14201,10.00,0.073529,118.7440,1.162245,11,7,0,1,0,0,...,0,0,1,0,1,0,0,0,0,1
14202,15.30,0.088380,214.6218,1.000000,6,2,0,0,1,0,...,0,0,1,0,1,0,0,0,1,0
14203,9.50,0.104720,79.7960,1.029678,11,7,0,0,1,0,...,0,0,1,0,1,0,0,0,1,0

In [14]:
y= dataset['Item_Outlet_Sales']

In [15]:
y

0        3735.1380
1         443.4228
2        2097.2700
3         732.3800
4         994.7052
           ...
14199       0.0000
14200       0.0000
14201       0.0000
14202       0.0000
14203       0.0000
Name: Item_Outlet_Sales, Length: 14204, dtype: float64

# Train test split

# Model Selection

# Prediction